## Problem 2a - Data manipulation (5 points)

Similarly as in earlier exercises the temperatures in our data are represented in Fahrenheit, hence,
you need to convert the temperatures into Celsius.


First, read again  the data from '6153237444115dat.csv' into a varaible `data` (you can copy your code from problem 1 here):

In [2]:
import pandas as pd
data = pd.read_csv("6153237444115dat.csv",na_values=['*', '**', '***', '****', '*****', '******'] )

**Subset data and remove no data values** (2 points)

In the codeblock below:
 - Create a new variable `selected`
 - Select from the `data` columns `USAF, YR--MODAHRMN, TEMP, MAX, MIN` and assign them into the new variable `selected`
 - Remove all rows from `selected` that has NoData in column `TEMP` using the `dropna()` -function

In [5]:
selected = data[['USAF','YR--MODAHRMN','TEMP','MAX','MIN']]
dataCleaned = selected.dropna(subset = ['TEMP'])

In [ ]:
# Check your dataframe (for example using the head() and len() -functions)

In [8]:
print(dataCleaned.head())

    USAF  YR--MODAHRMN  TEMP  MAX  MIN
0  28450  201705010000  31.0  NaN  NaN
1  28450  201705010020  30.0  NaN  NaN
2  28450  201705010050  30.0  NaN  NaN
3  28450  201705010100  31.0  NaN  NaN
4  28450  201705010120  30.0  NaN  NaN

**Convert fahrenheit to celsius** (2 points)
- Create a new column `Celsius`
- Convert the Fahrenheit temperatures from `TEMP` using the conversion formula (below) and store the results in the new `Celsius`column.
 ![formula](img/Fahrenheit_to_Celsius_formula.PNG)
 - Round the values in the `Celsius` column to have 0 decimals (**don't** create a new column --> update the current one)
 - Convert the `Celsius` values into integers (**don't** create a new column --> update the current one)

C:\Users\Michael\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

            USAF  YR--MODAHRMN  TEMP   MAX   MIN    Celsius
0        28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
1        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
2        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
3        28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
4        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
5        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
6        28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
7        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
8        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
9        28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
10       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
11       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
12       28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
13       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
14       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
15       28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
16       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
17       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
18       28450.0  2.017050e+11  31.0  34.0  31.0  -0.555556
19       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
20       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
21       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
22       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
23       28450.0  2.017050e+11  32.0   NaN   NaN   0.000000
24       28450.0  2.017050e+11  32.0   NaN   NaN   0.000000
25       28450.0  2.017050e+11  32.0   NaN   NaN   0.000000
26       28450.0  2.017050e+11  34.0   NaN   NaN   1.111111
27       28450.0  2.017050e+11  34.0   NaN   NaN   1.111111
28       28450.0  2.017050e+11  34.0   NaN   NaN   1.111111
29       28450.0  2.017050e+11  36.0   NaN   NaN   2.222222
...          ...           ...   ...   ...   ...        ...
11665    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11666    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11667    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11668    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11669    29980.0  2.017083e+11  61.0   NaN   NaN  16.111111
11670    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11671    29980.0  2.017083e+11  61.0   NaN   NaN  16.111111
11672    29980.0  2.017083e+11  61.0   NaN   NaN  16.111111
11673    29980.0  2.017083e+11  60.0   NaN   NaN  15.555556
11674    29980.0  2.017083e+11  60.0   NaN   NaN  15.555556
11675    29980.0  2.017083e+11  60.0   NaN   NaN  15.555556
11676    29980.0  2.017083e+11  61.0  63.0  59.0  16.111111
11677    29980.0  2.017083e+11  61.0   NaN   NaN  16.111111
11678    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11679    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11680    29980.0  2.017083e+11  63.0   NaN   NaN  17.222222
11681    29980.0  2.017083e+11  63.0   NaN   NaN  17.222222
11682    29980.0  2.017083e+11  65.0   NaN   NaN  18.333333
11683    29980.0  2.017083e+11  66.0   NaN   NaN  18.888889
11684    29980.0  2.017083e+11  66.0   NaN   NaN  18.888889
11685    29980.0  2.017083e+11  66.0   NaN   NaN  18.888889
11686    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11687    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11688    29980.0  2.017083e+11  64.0  66.0  61.0  17.777778
11689    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
11690    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
11691    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
11692    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
11693    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
Celsius      0.0  0.000000e+00   0.0   0.0   0.0 -17.777778

[11692 rows x 6 columns]

C:\Users\Michael\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
# Check your dataframe
selected.head()

    USAF  YR--MODAHRMN  TEMP  MAX  MIN
0  28450  201705010000  31.0  NaN  NaN
1  28450  201705010020  30.0  NaN  NaN
2  28450  201705010050  30.0  NaN  NaN
3  28450  201705010100  31.0  NaN  NaN
4  28450  201705010120  30.0  NaN  NaN

In [29]:
dataCleaned['Celsius'] = (dataCleaned['TEMP'] - 32)/1.8
print(dataCleaned)
dataCleaned['Celsius'] =dataCleaned['Celsius'].round(0) 
print(dataCleaned)

            USAF  YR--MODAHRMN  TEMP   MAX   MIN    Celsius
0        28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
1        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
2        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
3        28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
4        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
5        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
6        28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
7        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
8        28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
9        28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
10       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
11       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
12       28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
13       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
14       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
15       28450.0  2.017050e+11  31.0   NaN   NaN  -0.555556
16       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
17       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
18       28450.0  2.017050e+11  31.0  34.0  31.0  -0.555556
19       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
20       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
21       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
22       28450.0  2.017050e+11  30.0   NaN   NaN  -1.111111
23       28450.0  2.017050e+11  32.0   NaN   NaN   0.000000
24       28450.0  2.017050e+11  32.0   NaN   NaN   0.000000
25       28450.0  2.017050e+11  32.0   NaN   NaN   0.000000
26       28450.0  2.017050e+11  34.0   NaN   NaN   1.111111
27       28450.0  2.017050e+11  34.0   NaN   NaN   1.111111
28       28450.0  2.017050e+11  34.0   NaN   NaN   1.111111
29       28450.0  2.017050e+11  36.0   NaN   NaN   2.222222
...          ...           ...   ...   ...   ...        ...
11665    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11666    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11667    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11668    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11669    29980.0  2.017083e+11  61.0   NaN   NaN  16.111111
11670    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11671    29980.0  2.017083e+11  61.0   NaN   NaN  16.111111
11672    29980.0  2.017083e+11  61.0   NaN   NaN  16.111111
11673    29980.0  2.017083e+11  60.0   NaN   NaN  15.555556
11674    29980.0  2.017083e+11  60.0   NaN   NaN  15.555556
11675    29980.0  2.017083e+11  60.0   NaN   NaN  15.555556
11676    29980.0  2.017083e+11  61.0  63.0  59.0  16.111111
11677    29980.0  2.017083e+11  61.0   NaN   NaN  16.111111
11678    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11679    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11680    29980.0  2.017083e+11  63.0   NaN   NaN  17.222222
11681    29980.0  2.017083e+11  63.0   NaN   NaN  17.222222
11682    29980.0  2.017083e+11  65.0   NaN   NaN  18.333333
11683    29980.0  2.017083e+11  66.0   NaN   NaN  18.888889
11684    29980.0  2.017083e+11  66.0   NaN   NaN  18.888889
11685    29980.0  2.017083e+11  66.0   NaN   NaN  18.888889
11686    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11687    29980.0  2.017083e+11  62.0   NaN   NaN  16.666667
11688    29980.0  2.017083e+11  64.0  66.0  61.0  17.777778
11689    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
11690    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
11691    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
11692    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
11693    29980.0  2.017083e+11  64.0   NaN   NaN  17.777778
Celsius      0.0  0.000000e+00   0.0   0.0   0.0 -17.777778

[11692 rows x 6 columns]
            USAF  YR--MODAHRMN  TEMP   MAX   MIN  Celsius
0        28450.0  2.017050e+11  31.0   NaN   NaN     -1.0
1        28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
2        28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
3        28450.0  2.017050e+11  31.0   NaN   NaN     -1.0
4        28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
5        28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
6        28450.0  2.017050e+11  31.0   NaN   NaN     -1.0
7        28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
8        28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
9        28450.0  2.017050e+11  31.0   NaN   NaN     -1.0
10       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
11       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
12       28450.0  2.017050e+11  31.0   NaN   NaN     -1.0
13       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
14       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
15       28450.0  2.017050e+11  31.0   NaN   NaN     -1.0
16       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
17       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
18       28450.0  2.017050e+11  31.0  34.0  31.0     -1.0
19       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
20       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
21       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
22       28450.0  2.017050e+11  30.0   NaN   NaN     -1.0
23       28450.0  2.017050e+11  32.0   NaN   NaN      0.0
24       28450.0  2.017050e+11  32.0   NaN   NaN      0.0
25       28450.0  2.017050e+11  32.0   NaN   NaN      0.0
26       28450.0  2.017050e+11  34.0   NaN   NaN      1.0
27       28450.0  2.017050e+11  34.0   NaN   NaN      1.0
28       28450.0  2.017050e+11  34.0   NaN   NaN      1.0
29       28450.0  2.017050e+11  36.0   NaN   NaN      2.0
...          ...           ...   ...   ...   ...      ...
11665    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11666    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11667    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11668    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11669    29980.0  2.017083e+11  61.0   NaN   NaN     16.0
11670    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11671    29980.0  2.017083e+11  61.0   NaN   NaN     16.0
11672    29980.0  2.017083e+11  61.0   NaN   NaN     16.0
11673    29980.0  2.017083e+11  60.0   NaN   NaN     16.0
11674    29980.0  2.017083e+11  60.0   NaN   NaN     16.0
11675    29980.0  2.017083e+11  60.0   NaN   NaN     16.0
11676    29980.0  2.017083e+11  61.0  63.0  59.0     16.0
11677    29980.0  2.017083e+11  61.0   NaN   NaN     16.0
11678    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11679    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11680    29980.0  2.017083e+11  63.0   NaN   NaN     17.0
11681    29980.0  2.017083e+11  63.0   NaN   NaN     17.0
11682    29980.0  2.017083e+11  65.0   NaN   NaN     18.0
11683    29980.0  2.017083e+11  66.0   NaN   NaN     19.0
11684    29980.0  2.017083e+11  66.0   NaN   NaN     19.0
11685    29980.0  2.017083e+11  66.0   NaN   NaN     19.0
11686    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11687    29980.0  2.017083e+11  62.0   NaN   NaN     17.0
11688    29980.0  2.017083e+11  64.0  66.0  61.0     18.0
11689    29980.0  2.017083e+11  64.0   NaN   NaN     18.0
11690    29980.0  2.017083e+11  64.0   NaN   NaN     18.0
11691    29980.0  2.017083e+11  64.0   NaN   NaN     18.0
11692    29980.0  2.017083e+11  64.0   NaN   NaN     18.0
11693    29980.0  2.017083e+11  64.0   NaN   NaN     18.0
Celsius      0.0  0.000000e+00   0.0   0.0   0.0    -18.0

[11692 rows x 6 columns]

C:\Users\Michael\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Michael\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
dataCleaned['Celsius'] = dataCleaned['Celsius'].astype(int)
print(dataCleaned.dtypes)
print(dataCleaned)

USAF            float64
YR--MODAHRMN    float64
TEMP            float64
MAX             float64
MIN             float64
Celsius           int32
dtype: object
            USAF  YR--MODAHRMN  TEMP   MAX   MIN  Celsius
0        28450.0  2.017050e+11  31.0   NaN   NaN       -1
1        28450.0  2.017050e+11  30.0   NaN   NaN       -1
2        28450.0  2.017050e+11  30.0   NaN   NaN       -1
3        28450.0  2.017050e+11  31.0   NaN   NaN       -1
4        28450.0  2.017050e+11  30.0   NaN   NaN       -1
5        28450.0  2.017050e+11  30.0   NaN   NaN       -1
6        28450.0  2.017050e+11  31.0   NaN   NaN       -1
7        28450.0  2.017050e+11  30.0   NaN   NaN       -1
8        28450.0  2.017050e+11  30.0   NaN   NaN       -1
9        28450.0  2.017050e+11  31.0   NaN   NaN       -1
10       28450.0  2.017050e+11  30.0   NaN   NaN       -1
11       28450.0  2.017050e+11  30.0   NaN   NaN       -1
12       28450.0  2.017050e+11  31.0   NaN   NaN       -1
13       28450.0  2.017050e+11  30.0   NaN   NaN       -1
14       28450.0  2.017050e+11  30.0   NaN   NaN       -1
15       28450.0  2.017050e+11  31.0   NaN   NaN       -1
16       28450.0  2.017050e+11  30.0   NaN   NaN       -1
17       28450.0  2.017050e+11  30.0   NaN   NaN       -1
18       28450.0  2.017050e+11  31.0  34.0  31.0       -1
19       28450.0  2.017050e+11  30.0   NaN   NaN       -1
20       28450.0  2.017050e+11  30.0   NaN   NaN       -1
21       28450.0  2.017050e+11  30.0   NaN   NaN       -1
22       28450.0  2.017050e+11  30.0   NaN   NaN       -1
23       28450.0  2.017050e+11  32.0   NaN   NaN        0
24       28450.0  2.017050e+11  32.0   NaN   NaN        0
25       28450.0  2.017050e+11  32.0   NaN   NaN        0
26       28450.0  2.017050e+11  34.0   NaN   NaN        1
27       28450.0  2.017050e+11  34.0   NaN   NaN        1
28       28450.0  2.017050e+11  34.0   NaN   NaN        1
29       28450.0  2.017050e+11  36.0   NaN   NaN        2
...          ...           ...   ...   ...   ...      ...
11665    29980.0  2.017083e+11  62.0   NaN   NaN       17
11666    29980.0  2.017083e+11  62.0   NaN   NaN       17
11667    29980.0  2.017083e+11  62.0   NaN   NaN       17
11668    29980.0  2.017083e+11  62.0   NaN   NaN       17
11669    29980.0  2.017083e+11  61.0   NaN   NaN       16
11670    29980.0  2.017083e+11  62.0   NaN   NaN       17
11671    29980.0  2.017083e+11  61.0   NaN   NaN       16
11672    29980.0  2.017083e+11  61.0   NaN   NaN       16
11673    29980.0  2.017083e+11  60.0   NaN   NaN       16
11674    29980.0  2.017083e+11  60.0   NaN   NaN       16
11675    29980.0  2.017083e+11  60.0   NaN   NaN       16
11676    29980.0  2.017083e+11  61.0  63.0  59.0       16
11677    29980.0  2.017083e+11  61.0   NaN   NaN       16
11678    29980.0  2.017083e+11  62.0   NaN   NaN       17
11679    29980.0  2.017083e+11  62.0   NaN   NaN       17
11680    29980.0  2.017083e+11  63.0   NaN   NaN       17
11681    29980.0  2.017083e+11  63.0   NaN   NaN       17
11682    29980.0  2.017083e+11  65.0   NaN   NaN       18
11683    29980.0  2.017083e+11  66.0   NaN   NaN       19
11684    29980.0  2.017083e+11  66.0   NaN   NaN       19
11685    29980.0  2.017083e+11  66.0   NaN   NaN       19
11686    29980.0  2.017083e+11  62.0   NaN   NaN       17
11687    29980.0  2.017083e+11  62.0   NaN   NaN       17
11688    29980.0  2.017083e+11  64.0  66.0  61.0       18
11689    29980.0  2.017083e+11  64.0   NaN   NaN       18
11690    29980.0  2.017083e+11  64.0   NaN   NaN       18
11691    29980.0  2.017083e+11  64.0   NaN   NaN       18
11692    29980.0  2.017083e+11  64.0   NaN   NaN       18
11693    29980.0  2.017083e+11  64.0   NaN   NaN       18
Celsius      0.0  0.000000e+00   0.0   0.0   0.0      -18

[11692 rows x 6 columns]

C:\Users\Michael\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

**Finalize your submission for Problem 2a** (1 point)
- Check that you have commented your code (add inline comments explaining what your code does)
- At this point, commit and push your changes to GitHub
- Was anything unclear to you until this point? Write your comments to the cell below.

YOUR ANSWER HERE


## Problem 2b - Data selection (5 points)

In this problem you should divide the data into separate subsets for different stations and save those DataFrames into csv files.

**Divide the selection into two separate datasets:** (2 points)
  - Select all rows from `selected` DataFrame into variable called `kumpula` where the `USAF` code is `29980`
  - Select all rows from `selected` DataFrame into variable called `rovaniemi` where the `USAF` code is `28450`
  
Please use the given variable names and write your answer to the codeblock below.

In [45]:
# YOUR CODE HERE
kumpula = selected.loc[(selected['USAF'] == 29980)]
rovaniemi = selected.loc[(selected['USAF'] == 28450)]

In [46]:
# Check the dataframes (you don't need to modify this cell)
print("Kumpula: \n", kumpula.head(), "\n")
print("Rovaniemi: \n", rovaniemi.head(), "\n")

Kumpula:
        USAF  YR--MODAHRMN  TEMP  MAX  MIN
8770  29980  201705010000  37.0  NaN  NaN
8771  29980  201705010100  37.0  NaN  NaN
8772  29980  201705010200  37.0  NaN  NaN
8773  29980  201705010300  37.0  NaN  NaN
8774  29980  201705010400  39.0  NaN  NaN

Rovaniemi:
     USAF  YR--MODAHRMN  TEMP  MAX  MIN
0  28450  201705010000  31.0  NaN  NaN
1  28450  201705010020  30.0  NaN  NaN
2  28450  201705010050  30.0  NaN  NaN
3  28450  201705010100  31.0  NaN  NaN
4  28450  201705010120  30.0  NaN  NaN

**Save selections to csv files** (2points)
- Save `kumpula` DataFrame into `Kumpula_temps_May_Aug_2017.csv` file (CSV format) 
   - separate the columns with  comma (`,`)
   - use only 2 decimals in the floating point numbers
- Save `rovaniemi` DataFrame into `Rovaniemi_temps_May_Aug_2017.csv` file (CSV format) 
   - separate the columns with comma (`,`)
   - use only 2 decimals in the floating point numbers

In [49]:
outputKumpula = "Kumpula_temps_May_Aug_2017.csv"
kumpula.to_csv(outputKumpula, sep=",")

In [50]:
outputRovaniemi = "Rovaniemi_temps_May_Aug_2017.csv"
rovaniemi.to_csv(outputRovani)

**Commit and push changes (including the 2 csv files!) into your GitHub repository for Exercise 5** (1 point)

Did you encounter any problems with decimal formatting?

YOUR ANSWER HERE

Now you can continue to [problem 3: Data analysis](Exercise-5-problem3.ipynb)